# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Treat shell scripts and node binaries as binary to preserve execute permissions
*.sh text eol=lf
node_modules/.bin/* binary
